@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: local("Barlow-Bold"), url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: local("Barlow-SemiBold"), url("../fonts/Barlow-SemiBold.woff2") format("woff2"), url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: local("Barlow-Medium"), url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: local("Barlow-Regular"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: local("Barlow-Light"), url("../fonts/Barlow-Light.woff2") format("woff2"), url("../fonts/Barlow-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.html {
  height: 100%;
}

.body {
  height: 100%;
  min-width: 320px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0 50px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #2a4a5c;
  background-color: #eff6ff;
}

.registration {
  max-width: 1440px;
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 50px #7b8a92;
          box-shadow: 0 0 50px #7b8a92;
}

.registration__left {
  width: 720px;
  padding: 50px;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.registration__right {
  width: 720px;
  padding: 100px 75px 0;
  background-color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

.form__text {
  font-size: 18px;
  margin-bottom: 60px;
  color: #7b8a92;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.form__button {
  width: 270px;
  height: 42px;
  text-align: left;
  color: #ffffff;
  border: none;
  padding: 0;
  padding-bottom: 2px;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form__button::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 10px;
  left: 15px;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form__button:hover {
  opacity: 0.7;
}

.form__button--fb {
  background-color: #255a9b;
}

.form__button--fb::before {
  background-image: url("../images/facebook.svg");
}

.form__button--in {
  background-color: #0076b6;
}

.form__button--in::before {
  background-image: url("../images/linkedin.svg");
}

.form__button--create-acc {
  font-weight: 500;
  background-color: #3698fb;
  border-radius: 4px;
  padding: 0;
  padding-bottom: 2px;
  text-align: center;
}

.form__divider {
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.form__divider::before,
.form__divider::after {
  position: absolute;
  content: "";
  width: 107px;
  height: 1px;
  top: 50%;
  background-color: #eeeeee;
}

.form__divider::before {
  left: -115px;
}

.form__divider::after {
  right: -115px;
}

.form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  width: 100%;
}

.form__input {
  width: 270px;
  height: 42px;
  position: relative;
}

.form__input-text {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #afafaf;
}

.form__input-field {
  width: 100%;
  padding: 25px 10px 10px;
  color: #000000;
  border: 1px solid #eeeeee;
  outline: none;
}

.form__input-field:focus {
  border-left: 2px solid #3698fb;
  border-radius: 0 5px 5px 0;
  padding-left: 9px;
}

.form__subtitle {
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 10px;
}

.form__subtitle-text {
  font-size: 15px;
  margin-bottom: 50px;
  color: #7b8a92;
}

.form__radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
}

.form__radio {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}

.form__radio:last-child {
  margin-right: 0;
}

.form__tip-icon {
  font-size: 8px;
  color: #afafaf;
  width: 12px;
  height: 12px;
  border: 1px solid #afafaf;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__tip-icon:hover + .form__tip {
  visibility: visible;
  opacity: 1;
}

.form__tip {
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 260px;
  height: 75px;
  padding: 10px;
  font-size: 14px;
  line-height: 120%;
  color: #afafaf;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 5px #eeeeee;
          box-shadow: 0 0 20px 5px #eeeeee;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 10;
}

.form__radio-input {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  display: block;
  position: absolute;
}

.form__radio-text {
  font-size: 16px;
  color: #000000;
  display: inline-block;
  padding-left: 30px;
  margin-right: 5px;
  position: relative;
}

.form__radio-text::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}

.form__radio-input:focus + .form__radio-text::before {
  border: 2px solid #7b8a92;
}

.form__radio-input:checked + .form__radio-text::before {
  border: 4px solid #3698fb;
  background-color: #ffffff;
}

.form__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 50px;
  cursor: pointer;
}

.form__checkbox-input {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  display: block;
  position: absolute;
}

.form__checkbox-text {
  width: auto;
  font-size: 14px;
  color: #afafaf;
  display: inline-block;
  padding-left: 20px;
  position: relative;
}

.form__checkbox-text::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 3px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.form__checkbox-input:focus + .form__checkbox-text::before {
  border: 1px solid #7b8a92;
}

.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: #3698fb;
  border-color: #3698fb;
}

.form__link {
  color: #3698fb;
  text-decoration: underline;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form__link:hover {
  opacity: 0.7;
}

@media (max-width: 1439.98px) {
  .registration__left {
    width: 500px;
  }
}

@media (max-width: 1279.98px) {
  .registration__left {
    width: 300px;
  }

  .registration__right {
    width: 650px;
    padding: 100px 40px 0;
  }
}

@media (max-width: 991.98px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }

  .registration__left {
    width: 100%;
    background-position: 0% 10%;
  }

  .registration__right {
    padding: 50px;
  }

  .form__text {
    margin-bottom: 40px;
  }

  .form__buttons {
    margin-bottom: 40px;
  }

  .form__divider {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .body {
    padding: 0;
    height: auto;
  }

  .registration {
    width: 100%;
  }

  .registration__left {
    padding: 30px 15px;
  }

  .registration__right {
    width: 100%;
    padding: 30px 15px 60px;
  }

  .form__title {
    font-size: 26px;
  }

  .form__text {
    font-size: 16px;
  }

  .form__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__button {
    margin-bottom: 10px;
    width: 100%;
  }

  .form__button:last-child {
    margin-bottom: 0;
  }

  .form__input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    margin-bottom: 30px;
    width: 100%;
  }

  .form__input:last-child {
    margin-bottom: 0;
  }

  .form__subtitle {
    font-size: 20px;
  }

  .form__subtitle-text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .form__radio-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .form__radio {
    margin-bottom: 15px;
  }

  .form__radio:last-child {
    margin-bottom: 0;
  }
}